<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="..static/css/font.css" th:href="@{/css/font.css}"  >
    <link rel="stylesheet" href="..static/css/xadmin.css" th:href="@{/css/xadmin.css}" >
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="..static/lib/layui/layui.js" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" src="..static/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style id="theme_style"></style>
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="/admin/index">后台管理</a></div>
    <div class="left_open">
        <a><i class="iconfont">&#xe699;</i></a>
    </div>

    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.user.getNickname()}"></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a href="/admin/logout" onclick="">退出</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="网站管理"></i>
                    <cite >内容管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li >
                        <a onclick="xadmin.add_tab('文章管理','/admin/blogs')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite >文章管理</cite>
                        </a>
                    </li>
                    <li >
                        <a onclick="xadmin.add_tab('分类管理','/admin/types')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite >分类管理</cite>
                        </a>
                    </li>
                    <li >
                        <a onclick="xadmin.add_tab('标签管理','/admin/tags')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite >标签管理</cite>
                        </a>
                    </li>
                </ul>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="网站设置"></i>
                    <cite >网站设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li >
                        <a onclick="xadmin.add_tab('友链管理','/admin/friendlinks')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite >友链管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd></dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='#' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>

<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
</body>
</html>