<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" th:content="#{web_Keywords}" />
    <meta name="author" th:content="#{web_Name}" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no">
    <!-- PAGE TITLE HERE -->
    <title th:text="#{web_Name} + ' | 博客后台管理系统'">博客后台管理系统</title>
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" th:href="#{web_Ico}" />

    <!-- FAVICONS ICON -->
    <link href="/backend/css/style.css" rel="stylesheet">

</head>

<body class="vh-100">
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a th:href="@{admin/index}"><img src="/backend/images/logo-full.png" alt=""></a>
                                </div>
                                <h4 class="text-center mb-4">管理界面</h4>
                                <form method="post" action="#" th:action="@{admin/login}">
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>账号</strong></label>
                                        <input type="username" class="form-control" name="username">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>密码</strong></label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                    <div class="row d-flex justify-content-between mt-4 mb-2">
                                        <div class="mb-3">
                                            <div class="form-check custom-checkbox ms-1">
                                                <input type="checkbox" class="form-check-input" id="basic_checkbox_1">
                                                <label class="form-check-label" for="basic_checkbox_1">Remember my preference</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui error message" style="color: green; position: relative; left: auto; right: auto; text-align: center; size: 20px" th:text="${msg} == null ? null : '🤷' + ${msg} + '🤷'"></div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Sign Me In</button>
                                     </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="/backend/vendor/global/global.min.js"></script>
<script src="/backend/js/custom.min.js"></script>
<script src="/backend/js/deznav-init.js"></script>
<script src="/backend/js/styleSwitcher.js"></script>
</body>
</html>