<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mashiro.mapper.VisitorMapper">

    <resultMap id="visitor" type="cn.isbut.entity.Visitor">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="ip" column="ip"/>
        <result property="ipSource" column="ip_source"/>
        <result property="os" column="os"/>
        <result property="browser" column="browser"/>
        <result property="createTime" column="create_time"/>
        <result property="lastTime" column="last_time"/>
        <result property="pv" column="pv"/>
        <result property="userAgent" column="user_agent"/>
    </resultMap>

    <!--添加访客-->
    <insert id="saveVisitor" parameterType="cn.isbut.entity.Visitor" useGeneratedKeys="true" keyProperty="id">
        insert into tb_visitor (uuid, ip, ip_source, os, browser, create_time, last_time, pv, user_agent)
        values (#{uuid}, #{ip}, #{ipSource}, #{os}, #{browser}, #{createTime}, #{lastTime}, #{pv}, #{userAgent})
    </insert>

    <!--删除访客-->
    <delete id="deleteVisitorById">
        delete from tb_visitor where id=#{id}
    </delete>

    <!--更新访客pv和最后访问时间-->
    <update id="updatePVAndLastTimeByUUID">
        update tb_visitor set pv=pv+#{pv}, last_time=#{time} where uuid=#{uuid}
    </update>

    <!--查询是否存在某个uuid-->
    <select id="hasUUID" resultType="java.lang.Integer">
        select ifnull((select 1 from tb_visitor where uuid=#{uuid} limit 1), 0)
    </select>

    <!--查询访客-->
    <select id="getVisitorListByDate" resultMap="visitor">
        select id, uuid, ip, ip_source, os, browser, create_time, last_time, pv
        from tb_visitor
        <where>
            <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                last_time between #{startDate} and #{endDate}
            </if>
        </where>
    </select>

    <!--查询昨天的所有新增访客的ip来源-->
    <select id="getNewVisitorIpSourceByYesterday" resultType="java.lang.String">
        select ip_source from tb_visitor where date(create_time)=date_sub(curdate(), interval 1 day)
    </select>


</mapper>
