
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Standard Meta 适配移动设备 -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title th:text="'关于我 | '+ #{web_Name}"></title>
    <meta name="keywords" th:content="#{web_Keywords}">
    <meta name="description" th:content="#{web_Description}">

    <div th:insert="/fragments/header :: common-js"></div>
</head>
<body>

<div id="workingArea">


    <div th:replace="/fragments/header :: menu"></div>

    <div id="fillBackground" class="" >
    </div>

    <div class="pageHeadContainer">
        <img th:src="#{about_Background}" class="ui image backgroundImg">
        <div class="backgroundLayout">
            <div class="myInfoDiv" align="center">
                <div>
                    <span class="name" th:text="#{web_Name}">博客名字</span>
                </div>
                <div class="word">
                    天生我材必有用
                </div>
            </div>
        </div>
    </div>

    <div class="aboutMeContent">
        <div class="ui raised teal segment">
            <div class="ui vertical stackable grid container">
                <div class="row">
                    <h4 class="ui header aboutMeTitle">关于我</h4>
                </div>
                <div class="typo ui">
                    <div class="aboutMe">
                        <div class="item">
                            <span class="span header">个人介绍</span>
                        </div>
                        <div class="item">
                            <div class="itemContent">
                                <p> 大三学生，了解基本前端知识，主攻Java后端开发。 </p>
                            </div>
                        </div>
                        <div class="item">
                            <span class="itemHeader">擅长技术:</span>
                            <div class="itemContent">
                                <p>熟悉 Java 语言基础（集合、反射、多线程等）</p>
                                <p>熟悉基本数据结构以及常用算法</p>
                                <p>熟悉 MySQL、Redis 的使用，了解 Mysql 索引、锁等基本原理</p>
                                <p>熟悉计算机网络、计算机组成原理以及操作系统知识</p>
                                <p>了解Spring、SpringMVC、SpringBoot、Mybatis等框架</p>
                                <p>了解常用设计模式以及基本前端知识，了解JVM的基本知识</p>
                                <p>工具：掌握Maven、Git、Linux等工具的常用命令 </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog">
                        <div class="item">
                            <span class="span header">博客介绍</span>
                        </div>
                        <div class="item">
                            <span class="item">博客名字:</span>
                            <span class="spanContent"> 文若君 </span>
                        </div>
                        <div class="item">
                            <span class="item">博客网址:</span>
                            <span class="spanContent"> www.isbut.cn</span>
                        </div>
                        <div class="item">
                            <span class="item">创建时间:</span>
                            <span class="spanContent"> 2021-03-15</span>
                        </div>
                        <div class="item">
                            <span class="itemHeader">博客使用的技术:</span>
                            <div class="itemContent">
                                <p>1、页面原型：html5，css3，js，jQuery，semantic UI以及一些插件</p>
                                <p>2、后端：springboot，mybatis，mysql </p>
                                <p>项目可能会存在小bug，如果发现了可以到Github提交issue修复</p>
                                <p>Github项目地址:</p>
                            </div>
                        </div>
                    </div>
                    <div class="futurePlan">
                        <div class="item">
                            <span class="span header">我的规划</span>
                        </div>
                        <div class="item">
                            <div class="itemContent">
                                <p>1、巩固以前学的技术</p>
                                <p>2、复习知识并且查漏补缺</p>
                                <p>3、每日打卡自己定下的目标</p>
                                <p>4、学习Vue后整合shiro升级博客</p>
                            </div>
                        </div>
                        <div class="item">
                            <span class="itemHeader">长远规划:</span>
                            <div class="itemContent">
                                <p>1、好好学习</p>
                                <p>2、快乐生活</p>
                            </div>
                        </div>
                    </div>
                    <div class="logUpdate">
                        <div class="item">
                            <span class="span header">更新日志</span>
                        </div>
                        <div class="item">
                            <div class="itemContent">
                                <p>暂时不写</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 class="end">我也是有底线的哦!</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- end  -->

    <button  id="toTop" class="circular ui icon button" style="display: none;">
        <i class="ui caret up icon"></i>
    </button>


    <div>
        <div class="ui tiny modal tipModal">
            <div class="ui header">提示</div>
            <div class="content">

            </div>
            <div class="actions">
                <div class="ui teal button" id="tipCloseButton">
                    确定
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/fragments/footer :: footer-content"></div>

</div>

</body>
</html>
