<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
      class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--公共资源-->
    <div th:fragment="common-js-css">
        <link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="../static/css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script src="../static/lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
<!--        <script type="text/javascript" src="../static/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>-->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </div>
    <!--边框-->
<body th:fragment="common" class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a>博客后台</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.user.username}">用户名</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a href="#" th:href="@{/admin/logout}">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
                    <cite>网站管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="./admin/blogs.html" th:href="@{/admin/blogs}">
                            <cite>文章管理</cite></a>
                    </li>
                    <li>
                        <a href="./admin/types.html" th:href="@{/admin/types}">
                            <cite>分类管理</cite></a>
                    </li>
                    <li>
                        <a href="./admin/tags.html" th:href="@{/admin/tags}">
                            <cite>标签管理</cite></a>
                    </li>

                </ul>
            </li>
        </ul>

    </div>
</div>
<div class="x-slide_left"></div>
左侧菜单结束
右侧主体开始
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->

</body>
</head>
<body>

</body>
</html>