<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
</head>
<body>

<!--公共头部引入资源-->
<div th:fragment="common-js">
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">

    <link rel="stylesheet" type="text/css" href="../static/css/foreBlog.css" th:href="@{/css/foreBlog.css}">
</div>

<!--主页菜单-->
<div th:fragment="Menu" class="ui  container">
        <div class="ui stackable inverted secondary menu">
            <!--标记处-->
            <img class="ui rounded image logo" src="../static/images/logo.png" th:src="#{web.logo}">
            <a href="/" class="item mobileHidden navItem"><i class="home icon"></i>首页</a>
            <a href="/types" class="item mobileHidden navItem"><i class="list icon"></i>分类</a>
            <a href="/tags" class="item mobileHidden navItem"><i class="ui tag icon"></i>标签</a>
            <a href="/time" class="item mobileHidden navItem"><i class="youtube icon"></i>归档</a>
            <a href="/message" class="item mobileHidden navItem"><i class="comments outline icon"></i>留言墙</a>
            <a href="/about" class="item mobileHidden navItem"><i class="ui street view icon"></i>关于我</a>
            <a href="/friends" class="item mobileHidden navItem"><i class="ui linkify icon"></i>友链</a>
            <div id="searchItem " class=" right menu item mobileHidden navItem searchItemHidden"  >
                <div class="ui icon search input"   >
                    <form name="search" action="#" method="post" th:action="@{/search}" target="_blank"  >
                        <div class="ui icon transparent input m-margin-tb-tiny"    >
                            <input style="color:white" ctype="text"   name="query" placeholder="Search...." th:value="${query}">
                            <i onclick="document.forms['search'].submit()" style="color: #d2691e" class="search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <span class="mobileShow mobileTitle" th:text="#{web.name}"></span>
        <a class="ui black button mobileButton  mobileShow"><i class="sidebar icon"></i></a>
    </div>

<!--底部及其资源-->
<div th:fragment="footer" class="ui inverted segment footerDiv">
    <div class="ui container">
        <div class="ui stackable inverted divided grid" align="center">
            <div class="four wide column">
                <h4 class="ui inverted header">联系我呀</h4>
                <img class="ui small rounded image" th:src="#{web.wechat}" />
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">技术支持</h4>
                <div class="ui animated inverted  list">
                    <a href="https://semantic-ui.com" rel="nofollow" target="_blank" class="item">Semantic UI</a>
                    <a href="https://spring.io/"  rel="nofollow" target="_blank" class="item">Spring</a>
                    <a href="https://redis.io/"  rel="nofollow" target="_blank"  class="item">Redis</a>
                    <a href="https://mybatis.org/mybatis-3/" rel="nofollow"  target="_blank"  class="item">Mybatis</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">学习网站</h4>
                <div class="ui animated inverted  list">
                    <a href="https://github.com/" rel="nofollow" target="_blank" class="item">Github</a>
                    <a href="https://www.bilibili.com/" rel="nofollow"  target="_blank" class="item">BiliBili</a>
                    <a href="https://www.mooc.cn/" rel="nofollow"  target="_blank"  class="item">MOOC</a>
                    <a href="https://gitee.com/" rel="nofollow" target="_blank" class="item">Gitee</a>

                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">博主寄诗</h4>
                <div class="ui inverted  list">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">虞美人·李煜</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">
                        春花秋月何时了，往事知多少？小楼昨夜又东风，故国不堪回首月明中！</p>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">
                        雕阑玉砌应犹在，只是朱颜改。问君能有几多愁？恰似一江春水向东流。</p>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <div class="ttl" align="center">网站已运行: <span id="webRuntime" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
        <div class="copyRight" align="center">Copyright © 2021-Now isbut.cn All Rights Reserved.</div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="../static/js/foreBlog.js" type="text/javascript" th:src="@{/js/foreBlog.js}" ></script>
    <script src="/js/semantic.min.js"></script>

    <script>
        // 运行时间统计
        function secondToDate(second) {
            if (!second) {
                return 0;
            }
            var time = new Array(0, 0, 0, 0, 0);
            if (second >= 365 * 24 * 3600) {
                time[0] = parseInt(second / (365 * 24 * 3600));
                second %= 365 * 24 * 3600;
            }
            if (second >= 24 * 3600) {
                time[1] = parseInt(second / (24 * 3600));
                second %= 24 * 3600;
            }
            if (second >= 3600) {
                time[2] = parseInt(second / 3600);
                second %= 3600;
            }
            if (second >= 60) {
                time[3] = parseInt(second / 60);
                second %= 60;
            }
            if (second > 0) {
                time[4] = second;
            }
            return time;
        }
        function setTime() {
            /*此处为网站的创建时间*/
            var create_time = Math.round(new Date(Date.UTC(2021, 01, 15, 15, 15, 15)).getTime() / 1000);
            var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
            currentTime = secondToDate((timestamp - create_time));
            currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
                + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
                + '秒';
            document.getElementById("webRuntime").innerHTML = currentTimeHtml;
        }
        setInterval(setTime, 1000);
    </script>



    <script type="text/javascript" src="../static/js/canvas-ribbon.js" th:src="@{/js/canvas-ribbon.js}"></script>
    <script type="text/javascript">
        new Ribbons({
            // ribbon color HSL saturation amount
            colorSaturation: "80%",
            // ribbon color HSL brightness amount
            colorBrightness: "50%",
            // ribbon color opacity amount
            colorAlpha: 0.6,
            // how fast to cycle through colors in the HSL color space
            colorCycleSpeed: 10,
            // where to start from on the Y axis on each side (top|min, middle|center, bottom|max, random)
            verticalPosition: "center",
            // how fast to get to the other side of the screen
            horizontalSpeed: 0.8,
            // how many ribbons to keep on screen at any given time
            ribbonCount: 2,
            // add stroke along with ribbon fill colors
            strokeSize: 0,
            // move ribbons vertically by a factor on page scroll
            parallaxAmount: 0,
            // add animation effect to each ribbon section over time
            animateSections: true
        });
    </script>

</div>
</body>
</html>