
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Standard Meta 适配移动设备 -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--    <title th:text="'分类'+'&#45;&#45;'+${web.suffix}">博客标题</title>-->
    <!--    &lt;!&ndash; 页面描述 &ndash;&gt;-->
    <!--    <meta name="description" content="博客描述" th:content="${web.description}"/>-->
    <!--    &lt;!&ndash; 页面关键词 &ndash;&gt;-->
    <!--    <meta name="keywords" th:content="${web.keywords}" content="博客关键词"/>-->
    <!--实现每日一言-->
    <script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
    <!--End-->
    <script>
        fetch('https://v1.hitokoto.cn/?max_length=21')
            .then(function (res){
                return res.json();
            })
            .then(function (data) {
                var hitokoto = document.getElementById('hitokoto');
                hitokoto.innerText =data.hitokoto;
            })
            .catch(function (err) {
                console.error(err);
            })
    </script>
    <div th:insert="~{common::common-js}"></div>

</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div id="navMenu" class="ui inverted segment navDiv-active" >
        <div th:replace="~{common::Menu}"></div>
    </div>
    <div class="pageHeadContainer">
        <img src="../static/images/background/background5.jpg"  th:src="@{/images/background/background5.jpg}" class="ui image backgroundImg">
        <div class="backgroundLayout">
            <div class="myInfoDiv" align="center">
                <div class="word" >
                    <br>
                    <div id="hitokoto"style="font-size:30px;color:#ffffff;">:D 获取中...</div>
                </div>
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<br>


<!--中间内容-->
<div id="waypoint" class="m-margin- animated fadeIn">
    <div class="ui container m-opacity box-shadow-max">
        <!--                新增留言-->
        <div id="message-form" class="ui form">
            <input type="hidden" name="parentMessage.id" value="-1">
            <!--                    留言区-->
            <div class="field">
                <textarea name="content" placeholder="请输入留言信息..."></textarea>
            </div>
            <div class="ui grid">
                <!--                    输入姓名-->
                <div class="five wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="Id" th:value="${session.user}!=null ? ${session.user.nickname}">
                        </div>
                    </div>
                </div>

                <!--                        输入邮箱-->
                <div class="five wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="Email" th:value="${session.user}!=null ? ${session.user.email}">
                        </div>
                    </div>
                </div>

                <div class="right aligned six wide column">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <button id="messagepost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                    </div>
                </div>
            </div>
        </div>
        <!--留言区-->
        <div class="ui bottom attached m-margin-top">
            <div id="message-container" class="ui teal segment">
                <div th:fragment="messageList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">留言</h3>
                        <div class="comment" th:each="message : ${messages}">
                            <a class="avatar">
                                <img src="../static/image/me.jpg" th:src="@{${message.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${message.nickname}">Matt</span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${message.adminMessage}">栈主</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                </div>
                                <div class="text" th:text="${message.content}">太赞了！ </div>
                                <div class="actions">
                                    <a class="reply" data-messageid="1" data-messagenickname="Matt" th:attr="data-messageid=${message.id},data-messagenickname=${message.nickname}" onclick="reply(this)">回复</a>
                                    <a class="delete" href="#" th:href="@{/messages/{id}/delete(id=${message.id})}" onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')" th:if="${session.user}">删除</a>
                                </div>
                            </div>
                            <!--子集留言-->
                            <div class="comments" th:if="${#arrays.length(message.replyMessages)}>0">
                                <div class="comment" th:each="reply : ${message.replyMessages}">
                                    <a class="avatar">
                                        <img src="../static/image/me.jpg" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}">小红</span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminMessage}">栈主</div>
                                            &nbsp;<span th:text="|@ ${reply.parentNickname}|" class="m-teal">@ 小白</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">太赞了！ </div>
                                        <div class="actions">
                                            <a class="reply" data-messageid="1" data-messagenickname="Matt" th:attr="data-messageid=${reply.id},data-messagenickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                            <a class="delete" href="#" th:href="@{/messages/{id}/delete(id=${reply.id})}" onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')" th:if="${session.user}">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <br>
        <br>
        <br>

    </div>
</div>


<br>
<br>
<br>


<!--置顶图标-->
<button id="toTop" class="circular ui icon button" style="display: none;">
    <i class="ui caret up icon"></i>
</button>



<!--底部栏-->
<div th:insert="~{common::footer}"></div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>


<script>
    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/message");

    //评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的大名'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    // 初始化加载
    $(function () {
        $("#message-container").load(/*[[@{/messagecomment}]]*/"messagecomment");
    });

    // 校验信息
    $('#messagepost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }
    });

    //发送请求给后端
    function postData() {
        $("#message-container").load(/*[[@{/messages}]]*/"",{
            "parentMessage.id" : $("[name='parentMessage.id']").val(),
            // "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email"   : $("[name='email']").val(),
            "content" : $("[name='content']").val()
        },function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#message-container'),500);
            clearContent();
        });
    }

    // 清除表单
    function clearContent() {
        $("[name='nickname']").val('');
        $("[name='email']").val('');
        $("[name='content']").val('');
        $("[name='parentMessage.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var messageId = $(obj).data('messageid');
        var messageNickname = $(obj).data('messagenickname');
        $("[name='content']").attr("placeholder", "@"+messageNickname).focus();
        $("[name='parentMessage.id']").val(messageId);
        $(window).scrollTo(0,500);
    }

</script>
</body>
</html>