<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">


        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a th:href="#{web_Github}" target="_blank" th:text="#{web_Name}">学编程的文若</a> 2021</p>
        </div>

</div>
<body th:fragment="footer">
<!-- Required vendors -->
<script src="/backend/vendor/global/global.min.js"></script>
<script src="/backend/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<!-- Dashboard 1 -->


<script src="/backend/js/custom.min.js"></script>
<script src="/backend/js/deznav-init.js"></script>
<script src="/backend/js/demo.js"></script>
<script src="/backend/js/styleSwitcher.js"></script>
</body>
</html>